extends layout

block content
  - let results = [
    { era: "Jurassic", species: "Tyrannosaurus rex", age: 150 },
    { era: "Cretaceous", species: "Triceratops", age: 68 },
    { era: "Devonian", species: "Dunkleosteus", age: 380 }
  ]

.container-fluid
  .row
    each item in results
      .col-sm-4
        div
          h2= item.era
          p Species: #{item.species}
          p Age: #{item.age} million years